#sendIn {
    -fx-background-radius: 30 30 30 30;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 30px;
    -fx-border-width: 2;
    -fx-border-color: #181DC3;
    -fx-padding: 0;
    -fx-font-size: 0;
}

#sendIn:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}